@model IEnumerable<GogoKit.Models.Response.Listing>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticketGroup in Model.OrderBy(x => x.Seating.Section).GroupBy(x => x.Seating.Section))
        {
            var ticket = ticketGroup.FirstOrDefault();
            if (ticket == null || !ticketGroup.Any()) { continue; }
            if (!string.IsNullOrWhiteSpace(ticketGroup.Key))
            {
                <tr>
                    <td colspan="2">Section: <strong>@ticketGroup.Key</strong></td>
                </tr>
            }
            <tr>
                <td>@ticket.TicketPrice.Display</td>
                <td>Number of Tickets: @ticketGroup.Sum(x => x.NumberOfTickets)</td>
            </tr>
        }
    </tbody>
</table>