@model IEnumerable<GogoKit.Models.Response.Listing>
<input data-bind="textInput: MinTicketsToShow"/>
lol: <span><strong data-bind="text: MinTicketsToShow"></strong></span>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticketGroup in Model.OrderBy(x => x.Seating.Section).GroupBy(x => x.Seating.Section))
        {
            var ticketNumber = ticketGroup.Sum(x => x.NumberOfTickets);
            var ticket = ticketGroup.FirstOrDefault();
            if (ticket == null || !ticketGroup.Any()) { continue; }
            if (!string.IsNullOrWhiteSpace(ticketGroup.Key))
            {
                <tr data-bind="visible: @ticketNumber > MinTicketsToShow()">
                    <td colspan="2">Section: <strong>@ticketGroup.Key</strong></td>
                </tr>
            }
            <tr data-bind="visible: @ticketNumber > MinTicketsToShow">
                <td>@ticket.TicketPrice.Display</td>
                <td>Number of Tickets: @ticketNumber</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        EventTickets.SetBindings();
    });
</script>