@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 form-group">
        <label for="ArtistInput">Find events for an artist:</label>
        <input type="text" class="form-control" id="ArtistInput" placeholder="eg. Queen">
    </div>
</div>